.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 4px;
    border: 1px solid #969292;
    cursor: pointer;
}
.btn:hover {
    background-color: beige;
}
.btn:active { 
    background-color: bisque;
}
.btn:checked { 
    background-color: #969292;
}